/**
888      .d88888b.   .d8888b.  888     888  .d8888b.  8888888b.  8888888888 888     888   8888888b.  888      
888     d88P" "Y88b d88P  Y88b 888     888 d88P  Y88b 888  "Y88b 888        888     888   888   Y88b 888      
888     888     888 888    888 888     888 Y88b.      888    888 888        888     888   888    888 888      
888     888     888 888        888     888  "Y888b.   888    888 8888888    Y88b   d88P   888   d88P 888      
888     888     888 888  88888 888     888     "Y88b. 888    888 888         Y88b d88P    8888888P"  888      
888     888     888 888    888 888     888       "888 888    888 888          Y88o88P     888        888      
888     Y88b. .d88P Y88b  d88P Y88b. .d88P Y88b  d88P 888  .d88P 888           Y888P  d8b 888        888      
88888888 "Y88888P"   "Y8888P88  "Y88888P"   "Y8888P"  8888888P"  8888888888     Y8P   Y8P 888        88888888 
*/

body {
    background-image: url("../img/background.png");
    font-family: 'Maven Pro';
    margin: 0;
}

a {
    text-decoration: none;
    outline: 0;
    border: none;
    color: #fff;
    font-family: 'Maven Pro';
}

#header {
    position: absolute;
    top: 45%; 
}

#kontener {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
    position: relative;
    text-align:center;
    padding: 10px;

    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

#loading {
    background-color: rgb(32, 32, 32);
}

.fade {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1001;
}

#navbar {
    top: 0px; 
    width: 100%;
    height: 75px;
    background-color: rgb(26, 26, 26);
}

.buttons {
    text-align: left;
    padding-top: 25px;
    padding-left: 59px;
}

.btn-soon {
    display: inline;
    padding-right: 4px;
    font-size: 13px;
    background-color: rgb(224, 224, 224); color: rgb(129, 129, 129); cursor: not-allowed;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid rgb(224, 224, 224);
}

.btn {
    display: inline;
    padding-right: 4px;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-right: 3px;
    border-radius: 3px;
    border: 2px solid rgb(255, 255, 255);
    transition: all 0.5s;
}

.btn:hover {
    background-color: transparent;
    color: #fff;
}

.logo {
    display: inline;
    float: left;
}

.main-text {  
    color: #fff;
    padding: 0;
    margin: 0;

    padding-left: 55px;

    font-size: 80px;

    text-shadow: 4px 4px #1d1d1d;
}

.under-text {
    color: #fff;
    padding: 0;
    margin: 0;

    padding-left: 55px;

    font-size: 40px;

    text-shadow: 4px 4px #1d1d1d;
}


#video {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
    position: relative;
    text-align:center;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 80%;
    padding-right: 10px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="main-text"] {
        padding: 0;
        margin: 0;
        padding-left: 25px;

        font-size: 50px;
    }
    [class*="buttons"] {
        padding-left: 25px;
    }
}